@import 'scaffolds';

[data-turbolinks-preview] {
  background-color: lightblue;
}

.basic {
  background-color: mediumseagreen;
  padding: 12px;
}

// Styles for slideshow demo
.slide {
  display: none;
  font-size: 96px;
  line-height: 96px;
}

.slide.slide--current {
  display: block;
}
