@import 'scaffolds';

[data-turbolinks-preview] {
  background-color: lightblue;
}

hr {
  margin: 48px 0 48px 0;
}

.basic {
  background-color: mediumseagreen;
  padding: 12px;
}

// Styles for slideshow demo
.slide {
  display: none;
  font-size: 96px;
  line-height: 96px;
}

.slide.slide--current {
  display: block;
}

.pokemon {
  display: flex;
  flex-wrap: wrap;
  :hover {
    background-color: khaki;
  }
  :active {
    background-color: goldenrod;
  }
}

.pokemon__item {
  border: solid;
  margin: 12px;
  padding: 12px;
  width: 120px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
